---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.vue";
---

<Layout title="Welcome to Astro.">
    <main class="relative main-linear">
        <section class="section section-hero bg-cover bg-no-repeat relative">
            <div
                class="hero-container h-screen bg-cover bg-no-repeat relative z-10"
            >
                <header class="px-12 py-6">
                    <nav class="flex justify-between">
                        <div>
                            <img src="/images/logo-journey.svg" alt="" />
                        </div>
                        <div class="menu-wrapper">
                            <ul class="menu flex gap-x-8 items-center">
                                <li class="menu-item">nos services</li>
                                <li class="menu-item">nos destinations</li>
                                <li class="menu-item">nos offres</li>
                                <li class="menu-item">
                                    <Button text="votre espace" />
                                </li>
                            </ul>
                        </div>
                    </nav>
                </header>
            </div>
            <div class="h-screen absolute w-full top-0 left-0">
                <div
                    class="union-wrapper absolute top-[60%] left-1/2 -translate-x-1/2 -translate-y-1/2 flex mix-blend-overlay overflow-hidden"
                >
                    {
                        [...Array(7)].map((item) => (
                            <img class="union" src="/images/union.svg" alt="" />
                        ))
                    }
                </div>
            </div>
            <Button
                class="absolute left-1/2 -translate-x-1/2 bottom-4"
                text="s'évader"
            />
        </section>
        <section class="section section-decollage pt-[278px]">
            <div class="row max-w-[820px] grid grid-cols-2 mx-auto">
                <div class="relative pt-[133px]">
                    <h2 class="title w-[310px]">
                        .une simple phrase et vous décollez
                    </h2>
                    <p class="content mt-4 w-[370px]">
                        Demandez à notre intelligence artificielle où vous
                        souhaitez voyager et nous nous chargerons de vous guider
                        vers la destination qui vous convient. Grâce à sa
                        commande vocale, il est facile de s'adapter à votre
                        style de vie et de répondre à vos envies du moment.
                        N'attendez plus et dites-lui où vous souhaitez aller !
                    </p>
                    <div class="mt-11 flex flex-col">
                        <Button class="chat" text="Bonjour" epilogue={true} />
                        <Button
                            class="ml-auto mt-2 chat"
                            text="Bonjour Clara"
                            invert={true}
                            epilogue={true}
                        />
                        <Button
                            class="mt-2 chat"
                            text="Où voulez-vous aller aujourd'hui"
                            epilogue={true}
                        />
                        <Button
                            class="ml-auto mt-2 chat"
                            text="Je ne sais pas, qu'est-ce que vous suggérez ?"
                            invert={true}
                            epilogue={true}
                        />
                        <Button
                            class="mt-2 chat"
                            text="Nous pourrions aller à la plage ?"
                            epilogue={true}
                        />
                        <Button
                            class="ml-auto mt-2 chat"
                            text="D'accord, allons-y !"
                            invert={true}
                            epilogue={true}
                        />
                    </div>
                </div>
                <div class="mx-[-60px]">
                    <img class="w-full" src="/images/man-vr.png" alt="" />
                </div>
            </div>
        </section>
        <section class="section section-method pt-[172px]">
            <div class="row max-w-[820px] mx-auto">
                <div class="w-[65%]">
                    <h2 class="title">
                        .une méthode de <br /> voyage respectueuse
                    </h2>
                    <p class="content pt-7">
                        Pour éviter les émissions de CO2, les vols sont à
                        éviter. Mais pas les voyages ! Grâce à la réalité
                        virtuelle, il est possible de découvrir des paysages de
                        toute la planète sans bouger de chez soi. Il suffit de
                        disposer d’un casque de réalité virtuelle et d’une
                        manette de jeu. Une fois équipés de cet ensemble,
                        l’utilisateur peut naviguer dans l’espace virtuel autour
                        de lui comme s’il se trouvait en plein cœur de la jungle
                        amazonienne, dans les ruelles de Rio de Janeiro ou sur
                        les bords de la mer Morte.
                    </p>
                </div>
            </div>
            <div class="row flex gap-x-[50px] blurbs mx-auto w-max mt-16">
                <div>
                    <img src="/images/picto-1.png" alt="" />
                    <h3 class="blurb-title">Réduisez les emissions de CO2</h3>
                </div>
                <div>
                    <img src="/images/picto-2.png" alt="" />
                    <h3 class="blurb-title">
                        Plongez vous dans un monde immersif
                    </h3>
                </div>
                <div>
                    <img src="/images/picto-3.png" alt="" />
                    <h3 class="blurb-title">
                        Voyagez sans bouger de chez vous
                    </h3>
                </div>
            </div>
        </section>
        <section class="section section-full section-vr mt-14">
            <img class="w-full" src="/images/group-vr.png" alt="" />
        </section>
        <section class="h-screen"></section>
    </main>
</Layout>

<style>
    .main-linear {
        background: linear-gradient(180deg, #e2563f 18.72%, #9360ff 62.34%);
    }

    .section-hero {
        background-image: url("/images/bg-hero.png");
        background-position: bottom;
    }

    .hero-container {
        background-image: url("/images/bg-hero-subject.png");
        background-position: bottom;
    }

    .menu-item {
        @apply text-basic;
    }

    .title {
        @apply font-clashdisplay font-medium text-[32px] leading-[39px] text-white;
    }

    .content {
        @apply font-epilogue font-thin text-sm leading-[150%] text-white;
    }

    .blurbs img {
        @apply mx-auto;
        height: 112px;
    }

    .blurb-title {
        @apply w-[60%] text-center text-white mx-auto;
    }
</style>
<script>
    import gsap from "gsap";
    import ScrollTrigger from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    gsap.fromTo(
        ".union",
        {
            y: "100%",
        },
        {
            y: 0,
            stagger: 0.1,
            onComplete: () => {
                let unionWrapper = document.querySelector(".union-wrapper");
                unionWrapper.style.overflow = "visible";
                ("hidden");

                gsap.utils.toArray(".union").forEach((box, index) => {
                    gsap.to(box, {
                        scrollTrigger: {
                            trigger: box,
                            scrub: 0.5 + 0.5 * index,
                            start: "top 50%",
                        },
                        y: -250,
                    });
                });
            },
        }
    );

    gsap.utils.toArray(".chat").forEach((item) => {
        gsap.timeline({
            scrollTrigger: {
                trigger: item,
                start: "top 80%",
            },
        }).fromTo(
            item,
            {
                opacity: 0,
                y: 100,
            },
            {
                opacity: 1,
                y: 0,
                duration: 0.7,
            }
        );
    });
</script>
